<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body>
		<h1>Lista de Candidatos</h1>
		<h3><a href="/cadastrarCandidato">Cadastrar Candidato</a></h3>
		
		<div th:each="candidato: ${candidatos}">
			<div class="row">
				<p><span th:text="${candidato.nome}"></span></p>
				<p><span th:text="${candidato.cidade}"></span></p>
				<p><span th:text="${candidato.nota}"></span></p>
			</div>
		</div>
		
		<h1>Lista de Exames</h1>
		<h3><a href="#">Cadastrar Exames</a></h3>
		
		<div th:each="exame: ${exames}">
			<div class="row">
				<p><span th:text="${exame.vagas}"></span></p>
			</div>
		</div>
	</body>
</html>